Q-13. Write an SQL query to show only odd rows from aÂ table.
Ans:
SELECT *
FROM Worker
WHERE MOD (WORKER_ID, 2) <> 0;

Q-14. Write an SQL query to clone a new table from another table.
Ans:
CREATE TABLE employee_clone
LIKE employee;
INSERT INTO employee_clone
SELECT *
FROM employee;